services:
  # Redis
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server
      --appendonly yes
      --appendfsync everysec
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - leaderboard-network

  # Databases
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: burak
      POSTGRES_PASSWORD: burak
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

  # Application
  leaderboard-service:
    build: ./
    depends_on:
      - redis
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8092:8092"

networks:
  leaderboard-network:
    driver: bridge

volumes:
  redis_data:
  postgres_data:
